body {
    font-size: 1em;
    text-align: justify;
    line-height: 1.618em;
    margin: 10px;
}

a {
    text-decoration: none;
}

p {
    text-indent: 2em;
    font-size: 1em;
}

.comment {
    font-size: 0.75em;
    color: #1685a9;
}

.comment2 {
    font-size: 0.75em;
    color: #16a951;
}

div.kindle-cn-indent {
    margin-left: 2em;
    margin-right: 2em;
    text-indent: 2em;
}

p.kindle-cn-copyright-text {
    line-height: 1.618em;
    text-indent: 0em;
    margin-left: 0em;
    text-align: justify;
}


/*双线标题*/

h1.kindle-cn-heading-1 {
    font-size: 2.5em;
    border-bottom: 2px dashed #c7c7c7;
    border-top: 2px dashed #c7c7c7;
    padding: 0.75em 0 0.75em 0;
    text-align: center;
    line-height: 1.1em;
}


/*单线标题*/

h1.kindle-cn-heading-2 {
    font-size: 2.5em;
    border-bottom: 2px dashed #c7c7c7;
    padding: 0.75em 0 0.75em 0;
    text-align: center;
    line-height: 1.1em;
}

h2.kindle-cn-heading2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.1em;
}

h3.kindle-cn-heading3 {
    font-size: 1.75em;
    text-align: left;
    line-height: 1.1em;
}

h4.kindle-cn-heading4 {
    font-size: 1.25em;
    text-align: left;
}

h5.kindle-cn-heading5 {
    font-size: 1.1em;
    text-align: left;
}

h6.kindle-cn-heading6 {
    font-size: 1em;
    text-align: left;
}


/** 页眉标题 **/

div.kindle-cn-page-header-outer {
    border-bottom: 1px solid #FF9900;
    margin-bottom: 0em;
}


/** 签名文字居右 **/

p.kindle-cn-signature {
    text-align: right;
}


/** 首字下沉 **/

span.kindle-cn-dropcap {
    float: left;
    font-size: 2.85em;
    line-height: 1em;
    padding: 0em 0em 0em 0em;
    text-indent: 0
}

p.kindle-cn-dropcap {
    text-indent: 0em;
}


/** 生僻字 **/

img.kindle-cn-inline-character {
    width: 1em;
    vertical-align: middle;
    margin-top: -0.2em;
}


/** 段落里的引用部分 **/

p.kindle-cn-ref {
    margin: 1em;
    text-align: justify;
}


/** 多字体 **/


/** ----------------------------------------------- **/


/** 黑体文字 **/

p.kindle-cn-hei {}


/** 宋体文字 **/

p.kindle-cn-song {}


/** 楷体文字 **/

span.kindle-cn-kai {}


/** 问答 **/

span.kindle-cn-qa {
    font-weight: bold;
    color: #EE1475;
}


/** ----------------------------------------------- **/


/** 列表样式 **/


/** ----------------------------------------------- **/


/** 无序列表样式 **/


/** 圈标签 **/

ul.kindle-cn-ul-disc {
    list-style-type: disc;
}


/** 圆环标签 **/

ul.kindle-cn-ul-circle {
    list-style-type: circle;
}


/** 方形标签 **/

ul.kindle-cn-ul-square {
    list-style-type: square;
}


/** 有序列表样式 **/


/** 此样式会显示1. 2. 3. **/

ol.kindle-cn-ol-decimal {
    list-style-type: decimal;
}


/** 此样式会显示i. ii. iii. **/

ol.kindle-cn-ol-lroman {
    list-style-type: lower-roman;
}


/** 此样式会显示I. II. III. **/

ol.kindle-cn-ol-uroman {
    list-style-type: upper-roman;
}


/** 此样式会显示a. b. c. **/

ol.kindle-cn-ol-lalpha {
    list-style-type: lower-alpha;
}


/** 考试类样式 **/


/*选择题*/

p.kindle-cn-exam-choice {
    text-indent: 0em;
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
}


/** 行间图 **/

img.kindle-cn-inline-image {
    height: 1em;
    vertical-align: middle;
    margin-left: -0.1em;
    margin-right: -0.1em;
}


/* 根据原文调整图片大小 plus1*/

img.kindle-cn-inline-image2 {
    height: 2em;
    vertical-align: middle;
    margin-left: -0.1em;
    margin-right: -0.1em;
}

.kindle-cn-image {
    text-align: center;
    margin: 1em;
    page-break-inside: avoid;
}


/** ----------------------------------------------- **/


/** 边框样式 **/


/** ----------------------------------------------- **/


/** ----------------------------- **/


/** 阴影边框样式 **/


/** ----------------------------- **/

div.kindle-cn-frame-shadow {
    border: 1px solid #146eb4;
    box-shadow: 5px 5px 5px #c7c7c7;
    width: 95%;
    padding: 0.3em;
    margin-left: 2%;
    margin-right: 3%;
}


/** 边框内文字无缩进 **/

p.kindle-cn-noindent {
    text-indent: 0
}


/** ----------------------------- **/


/** 提示框 **/


/** ----------------------------- **/

div.kindle-cn-tip-box {
    padding: 1em 1em 1em 1em;
    margin: 1em 0 1em 0em;
    background-color: #DCDCDC;
    line-height: 1.5em;
}


/** ----------------------------- **/


/** 直角框 **/


/** ----------------------------- **/

div.kindle-cn-frame-zhijiao {
    font-size: 1em;
    padding: 0.5em;
    margin: 1.5em 0em 1.5em 0em;
    border-style: solid solid solid solid;
    border-width: 1px;
}


/** ----------------------------- **/


/** 圆角框 **/


/** ----------------------------- **/

div.kindle-cn-frame-yuanjiao {
    font-size: 1em;
    padding: 0.5em;
    margin: 1.5em 0em 1.5em 0em;
    border-style: solid solid solid solid;
    border-width: 1px;
    border-radius: 0.5em;
}


/** ----------------------------------------------- **/


/** 文字特殊样式 **/


/** ----------------------------------------------- **/


/** 加粗 **/

span.kindle-cn-bold {
    font-weight: bold;
}


/** 斜体字 **/

span.kindle-cn-italic {
    font-style: italic;
}


/** 斜体加粗字体**/

span.kindle-cn-bold-italic {
    font-weight: bold;
    font-style: italic;
}


/** 下划线**/

span.kindle-cn-underline {
    text-decoration: underline;
}


/** 删除线 **/

Span.kindle-cn-strike {
    text-decoration: line-through;
}


/** 双下划线 **/

span.kindle-cn-specialtext-double {
    border-bottom: 0.2em double;
}


/** 点线式边框 **/

span.kindle-cn-specialtext-dot {
    border-style: dotted;
}


/** 破折线式边框 **/

span.kindle-cn-specialtext-dash {
    border-style: dashed;
    border-width: 1px;
}


/** 直线式边框 **/

span.kindle-cn-specialtext-solid {
    border-style: solid;
    border-width: 1px;
}


/* 数学上标字体 */

span.math-super {
    font-size: 0.7em;
    vertical-align: super;
}


/* 数学上标倾斜字体 */

span.math-super-italic {
    font-size: 0.7em;
    font-style: italic;
    vertical-align: super;
}


/* 数学下标字体 */

span.math-sub {
    font-size: 0.7em;
    vertical-align: sub;
}


/*点号 */

span.kindle-cn-dotundertext {
    -webkit-text-emphasis-style: dot;
    -moz-text-emphasis-style: dot;
    -ms-text-emphasis-style: dot;
    text-emphasis-style: dot;
    -webkit-text-emphasis-position: under;
    -moz-text-emphasis-position: under;
    -ms-text-emphasis-position: under;
    text-emphasis-position: under;
}


/**段落样式**/


/*无缩进*/

p.kindle-cn-para-no-indent {
    text-indent: 0em;
    text-align: justify;
}


/*缩进 2em */

div.kindle-cn-para-2em-indent {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    text-indent: 2em;
}


/*缩进 齐头*/

div.kindle-cn-para-indent {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    text-indent: 0em;
}


/*居左*/

p.kindle-cn-para-left {
    text-align: justify;
    text-indent: 0em;
}

p.kindle-cn-para-left1 {
    text-align: justify;
    text-indent: 2em;
    font-size: 0.8em;
}

p.kindle-cn-para-left2 {
    text-align: justify;
    text-indent: 2em;
    font-size: 0.8em;
}


/*居中*/

p.kindle-cn-para-center {
    text-align: center;
    text-indent: 0em;
}


/*居右*/

p.kindle-cn-para-right {
    text-align: right;
    text-indent: 0em;
}


/*倒悬*/

p.kindle-cn-para-hang {
    margin-left: 2em;
    text-indent: -2em;
    text-align: justify;
}


/**音标区块不使用粗体，嵌入西文字体。 **/

span.kindle-cn-eng-yinbiao {}


/**单词区块使用粗体，字体为默认字体。 **/

p.kindle-cn-bold {
    font-weight: bold;
}


/** ----------------------------- **/


/** 诗歌**/


/** ----------------------------- **/

p.kindle-cn-poem-left {
    margin-left: 2em;
    text-indent: 0em;
}

p.kindle-cn-poem-center {
    text-align: center;
    text-indent: 0em;
    margin-left: 0em;
}


/** --------------------------------------------- **/


/** 计算机类样式 **/


/** ------------------------------------------------------------------------------------------------------ **/


/** 行间代码 **/

code.kindle-cn-computer-code {}

p.kindle-cn-caption {
    text-align: center;
    text-indent: 0em;
    font-size: 90%;
    margin-top: 0em;
    margin-bottom: 0em;
}

p.kindle-cn-caption1 {
    text-align: left;
    text-indent: 1em;
    font-size: 90%;
    margin-top: 0em;
    margin-bottom: 0em;
}

p.kindle-cn-footnote {
    text-align: justify;
    margin-left: 1em;
    text-indent: -1em;
    font-size: 90%;
}

table {
    margin: 1em auto 1em auto;
    text-align: center;
}

td.kindle-cn-tourism-double_image_note1 {
    vertical-align: bottom;
    text-align: center;
    padding-left: 10px;
}

td.kindle-cn-tourism-double_image_note2 {
    text-align: justify;
    left: 51%;
    font-size: 0.85em;
    padding-left: 20px;
    vertical-align: top;
}

.pagebreak {
    page-break-before: always;
}

div.chapter {
    display: block;
    margin-top: 5%;
    text-align: justify;
}

div.kindle-cn-sidebar-right {
    float: right;
    width: 45%;
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0em;
}

div.kindle-cn-sidebar-left {
    float: left;
    width: 45%;
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0em;
}

.kaiti {}

.small {
    font-size: 0.8em;
}