/* Global setting */
/* 全局设定 */
body {
	line-height: 1.618em;
   margin: 15px;}

/* TOC link color */
/* 目录条目链接颜色 */
a {
	color: #0000CC;
}

/* TOC Title */
/* 目录标题 */
.kindle-cn-toc-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
	letter-spacing: 1em;
    text-align: center;
	border-bottom: 1.5px dotted #000000;
}

/* Level 1 TOC */
/* 一级标题 */
.kindle-cn-toc-level-1 {
    margin-left: 0em;
}

/* Level 2 TOC */
/* 二级标题 */
.kindle-cn-toc-level-2 {
    margin-left: 2em;
}

/* Level 3 TOC */
/* 三级标题 */
.kindle-cn-toc-level-3 {
    margin-left: 3em;
}

/* Level 4 TOC */
/* 四级标题 */
.kindle-cn-toc-level-4 {
    margin-left: 4em;
}

/* Level 5 TOC */
/* 五级标题 */
.kindle-cn-toc-level-5 {
    margin-left: 2em;
}

/* Level 6 TOC */
/* 六级标题 */
.kindle-cn-toc-level-6 {
    margin-left: 2em;
}

.kaiti {
	
}

.small {	font-size: 0.8em; 
}

img.kindle-cn-inline-character{
	width: 1.1em;
	vertical-align: middle;
	margin-top: -0.5em;
}