.a {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 30% 0 0;
    border: currentColor none 0;
    margin: 0.5em 0
    }
.a1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 10% 0 0;
    border: currentColor none 0;
    margin: 0.5em 0
    }
.a2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 0
    }
.a3 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 20% 0 0;
    border: currentColor none 0;
    margin: 0.5em 0
    }
.a4 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0
    }
.a5 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: right;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 2em 0.5em 0
    }
.a6 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    border: currentColor none 0;
    margin: 1em 0 0.5em
    }
.a7 {
    display: block;
    font-family: 仿宋, "fs", serif;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 0 0.5em 2em
    }
.a8 {
    color: #006;
    display: block;
    font-family: 仿宋, "fs", serif;
    font-size: 1em;
    line-height: 1.2;
    text-indent: -2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 0 0.5em 4em
    }
.a9 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    border: currentColor none 0;
    margin: 0
    }
.a10 {
    display: block;
    font-family: 仿宋, "fs", serif;
    font-size: 0.75em;
    line-height: 1.2;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 0 0.5em 2em
    }
.a11 {
    display: block;
    font-family: 仿宋, "fs", serif;
    font-size: 0.75em;
    line-height: 1.2;
    text-align: right;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 2em 0.5em 0
    }
.body {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    padding: 0;
    margin: 0 5pt
    }
.c {
    color: #F30;
    font-family: 黑体, "ht", sans-serif;
    font-size: 1.25em;
    line-height: 1.2
    }
.c1 {
    color: #F30;
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 1.2
    }
.c2 {
    font-family: 仿宋, "fs", serif
    }
.calibre {
    height: auto;
    max-width: 756px;
    width: 50%
    }
.calibre1 {
    height: auto;
    max-width: 340px;
    width: 20%
    }
.calibre2 {
    display: block
    }
.calibre3 {
    height: auto;
    max-width: 908px;
    width: 50%
    }
.calibre4 {
    height: auto;
    max-width: 442px;
    width: 25%
    }
.calibre5 {
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em
    }
.div {
    display: block;
    line-height: 1.5;
    text-align: justify;
    padding: 0;
    margin: 0
    }
.f {
    font-family: 黑体, "ht", sans-serif
    }
.f1 {
    font-family: 仿宋, "fs", serif;
    font-size: 1.125em;
    line-height: 1.2
    }
.f2 {
    font-family: 仿宋, "fs", serif;
    font-size: 0.75em
    }
.f3 {
    font-family: 黑体, "ht", sans-serif;
    font-size: 1.125em;
    line-height: 1.2
    }
.h {
    display: block;
    font-size: 1.25em;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    margin: 1em 0
    }
.h1 {
    display: block;
    font-family: 黑体, "ht", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin: 1em 0
    }
.h2 {
    display: block;
    font-family: 黑体, "ht", sans-serif;
    font-size: 1.25em;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    padding: 30% 0 0;
    margin: 1em 0
    }
.h3 {
    display: block;
    font-family: 黑体, "ht", sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 1em 0.5em
    }
.h4 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 1em 0.5em
    }
.h5 {
    display: block;
    font-family: 黑体, "ht", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin: 1em 0
    }
.hl {
    color: #000;
    cursor: pointer;
    text-decoration: none
    }
.hl1 {
    color: blue;
    cursor: pointer;
    text-decoration: none
    }
.t {
    font-size: 0.75em
    }
.t1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    padding: 0;
    border: currentColor none 0;
    margin: 0
    }
.toc {
    display: block;
    font-family: 黑体, "ht", sans-serif;
    font-size: 1.125em;
    font-weight: bolder;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 0 0
    }
.toc1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    border: currentColor none 0;
    margin: 0.2em 0 0 2em
    }
.toc2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    border: currentColor none 0;
    margin: 0 0 0 6em
    }
.zs {
    display: block;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 0 0
    }
.zs1 {
    display: block;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0
    }
.zs2 {
    display: block;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 1em;
    line-height: 1.2;
    text-align: right;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0.5em 2em 0.5em 0
    }
.zs3 {
    display: block;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    padding: 0;
    border: currentColor none 0;
    margin: 0
    }
.zs4 {
    display: block;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 2em;
    padding: 0;
    border: currentColor none 0;
    margin: 0
    }
.zy {
    color: blue;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: normal;
    text-decoration: none;
    vertical-align: super
    }
.zy1 {
    color: blue;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: normal;
    text-decoration: none;
    vertical-align: super
    }
.zy2 {
    color: blue;
    cursor: pointer;
    font-size: 0.66667em;
    font-weight: normal;
    text-decoration: none;
    vertical-align: super
    }
.zy3 {
    color: blue;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: normal;
    text-decoration: none;
    text-indent: 2em;
    vertical-align: super
    }
