/* 版权信息页标题 */
h1.copyright-title{
    margin: 10% 0 0.375em;
    font-family: '宋体', 'serif', '黑体';
    font-size: 1.77778em;
    line-height: 1.5;
    font-weight: 700;
    text-indent: 0;
}
/* 版权信息页正文 */
p.copyright-text {
    margin: 0;
    font-family: '黑体', 'sans-serif';
    font-size: 0.88889em;
    line-height: 1.75;
    text-indent: 0;
}
span.xiao{
font-size:0.8em;}
/* 版权正文授权 */
p.copyright-text-1 {
    margin: 1em 0 0;
    font-family: '黑体', 'sans-serif';
    font-size: 0.88889em;
    line-height: 1.75;
    text-indent: 0;
}
/* 版权所有 */
p.copyright-text-2 {
    margin: 1em 0 0;
    font-family: '黑体', 'sans-serif';
    font-size: 0.88889em;
    line-height: 1.75;
    text-indent: 0;
}


/* 正文开头(章节页后无标题) */
p.bodycontent-headimage {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 1.38rem;
	text-align: left;
	color: #CA1317;
	margin-bottom:4em;
	duokan-text-indent: 0em;
	text-indent: 0em;
}

/* 框大小 */
span.fang-text-1 {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 1.12rem;
	color: #c99b50;
}

/* 框大小2 */
span.fang-text-2 {
	font-family: "DK-KAITI", "方正楷体", "华文楷体", "楷体";
	font-size: 0.88rem;
	color: #adadad;
}


/* 封面图像居中 */
img.img-height100{
	width:100%;
}
/* 封面框图像居中 */
div.img-center{
	text-align:center;
	margin:0em 0em 0em 0em;
	padding:0em;
}

/* 目录标题 */
h1.contents-title {
	
	font-weight: normal;
	border-style: none none dotted none;
	border-width: 1.5px;
	margin:1em 0em 1em 0em;
	text-align:left;
	text-indent: 0em;
    duokan-text-indent: 0em;
	

}

/* 目录页标题-一级 */
div.contents-chapter-1 {
	
	font-weight: bold;
	margin-left:0.5em;
}
/* 目录页标题-二级 */
div.contents-chapter-2 {
	
	list-style-type:none;
	font-weight: normal;
	margin-left:2em;
}
/* 目录页标题-三级 */
div.contents-chapter-3 {
	
	list-style-type:none;
	font-weight: normal;
	margin-left:3em;
}
/* 一级标题 */
h1.chapter-one{
	font-family:"黑体";
	margin-top:2em;
	font-weight: normal; 
	text-align: center; 

}/* 二级标题 */
h2.chapter-two{
	font-family:"黑体";
	margin-top:2em;
	font-weight: normal;
	text-indent: 0em;
    duokan-text-indent: 0em;
border-left:0.3em #AEAEAE solid;
padding-left:0.2em;
}

/* 三级标题 */
h3.chapter-three{

	margin-top:2em;
	font-weight: normal;
	text-indent: 0em;
    duokan-text-indent: 0em;
}
/* 正文 */
p.bodytext {
	text-indent: 2em;
}

/* 文内引文 */
.yinwen{
	font-family:"楷体";
    text-indent: 2em;
	margin:1em;
}

/* 文内引文 */
.yinwen-c{
	font-family:"楷体";
	text-align:center;
}
/* p图注左 */
p.tuzhu-left{
	font-family:"楷体";
	font-size:0.8em;
	text-align:left;
}
/* p图注中 */
p.tuzhu-center{
	font-family:"楷体";
	font-size:0.8em;
	text-align:center;
}
/* p图注中 */
p.tuzhu-right{
	font-family:"楷体";
	font-size:0.8em;
	text-align:right;
}
/* 图片-无图注 */
img.image-wuzhu{
	width:100%;
}
/* 图片-无图注 */
img.image-80{
	width:80%;
}
/* 图片-有图注 */
img.image-tuzhu{
	width:100%;
	margin-bottom:0.3em;
}
/* div图片左40% */
div.zuo{
	width:40%;
}
/* div图片中100% */
div.zhong{
	width:100%;
	margin:1em auto;
	text-align:center;
}
/* div图片中60% */
div.zhong1{
	width:60%;
	margin:1em auto;
	text-align:center;
}
/* div图片中40% */
div.zhong2{
	width:40%;
	margin:1em auto;
}
/* div图片右40% */
div.you{
	width:40%;
	margin:1em 0em 1em auto;
}
/* div图片左-环绕40% */
div.float-left{
	float:left;
	width:40%;
	margin-right:0.5em;
}
/* div图片右-环绕40% */
div.float-right{
	float:right;
	width:40%;
	margin-left:0.5em;
}
/* 诗居左 */
p.shi-l {
	
	margin-left: 2em;
	text-indent: 0em;
	duokan-text-indent: 0em;
}
/* 诗居中 */
p.shi-r {
	
	margin-left: 0em;
	text-indent: 0em;
	duokan-text-indent: 0em;
	text-align:center;
}
/* 图片40% */
img.chapter-before-img40 {
	width:40%;
}

/* 落款 */
.bodytext-right {
	font-family:"楷体";
	text-align:right;
}

/* 居中 */
.center {
	text-align:center;
font-weight:bold;
}

/* 部分加粗 */
span.jiacu {
	font-weight:bold;
} 

/* 加粗 */
p.jiacus {
text-indent: 2em;
font-weight:bold;

}

/* 加粗 */
p.jiacus2 {
text-align: left;
text-indent: 0;
font-weight:bold;

}
/* 造字 */
img.zaozi{
	height:1.5em;
	vertical-align:middle;
}
/* 公式 */
img.gongshi{
	height:2em;
	vertical-align:middle;
}
div.di{
	background-color:#F8F1E3;
}
/* 1字高 */
img.zigao1 {
	height: 1em;
	vertical-align: middle;
}
/* 1.5字高 */
img.zigao15 {
	height: 1.5em;
	vertical-align: middle;
}
/* 2字高 */
img.zigao2 {
	height: 2em;
	vertical-align: middle;
}
/* 部分文字下划线 */
span.underline{
	text-decoration: underline;
}

/*注释标题*/
.noteTitle {
	font-family:"楷体";
	font-size:80%;
	line-height:1.5em;
	font-weight:bold;
	text-align:left;
	text-indent:0;
	letter-spacing:auto;
} 
/*注释内容*/
.noteContent {
	font-family:"楷体";
	font-size:80%;
	line-height:1.5em;
	text-align:left;
	text-indent:2em;
	letter-spacing:auto;
} 



/* 上标字体 */
span.noteSuper {
	font-size: 0.8em;
	vertical-align: super;
}

/* 行内楷体 */
span.k{
	font-family:"楷体";
}
/* 行内黑体 */
span.h{
	font-family:"黑体";
}
/* 斜体 */
span.i{
	font-style:italic;
	padding:0 2px;
}